<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  
  <!--Meta: title, description, author, etc-->
  <title>{{page_title}}</title>

  {% if page.description %}
    <meta name="description" content="{{ page.description | truncatewords: 200 | strip_newlines | escape_once }}" />
    {% else %}
    <meta name="description" content="{{ content | strip_html | truncatewords: 200 | strip_newlines | escape_once }}" />
  {% endif %}

    <meta name="author" content="Matt Ewing" />

  <!--CSS and fonts-->
  <link rel="stylesheet" href="css/main.css">
 
  <link href='http://fonts.googleapis.com/css?family=Varela|Varela+Round' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<!--facebook/twitter metadata -->
  <meta name="twitter:creator" content="@mattewing"/>
  <meta name="twitter:card" content="summary"/>

  {% if page.layout == "page" %}
    <meta property="og:type" content="website"/>
  {% endif %}

  {% if page.layout == "post" %}
    <meta property="og:type" content="article"/>

  {% endif %}

  <meta property="og:title" content="{{page_title}}" />
  
  {% if page.description %}
    <meta name="og:description" content="{{ page.description | truncatewords: 200 | strip_newlines | escape_once }}" />
    {% else %}
    <meta name="og:description" content="{{ content | strip_html | truncatewords: 200 | strip_newlines | escape_once }}" />
    {% endif %}

   {% if page.image %}
    <meta property="og:image" content="{{ site.baseurl }}/assets/{{ page.image }}" />
    {% else %}
    <meta property="og:image" content="http://mattewing.org/assets/scoot_head_shot.jpg" />  
    {% endif %}

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

  </head>
